{% extends 'core/base.html' %}
{% block title %}Todos los cursos{% endblock %}
{% load static %}
    <!--END HEADER SECTION-->
{% block content %}
     <section class="pop-cour">
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>All <span>Courses</span></h2>
                    <p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>
                </div>
            </div>
            <div class="row">
            {% for carrer in object_list %}
                <div class="col-md-6">
                    <div>

                            <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div class="col-md-3"> <img src="{{ carrer.image.url }}" alt=""> </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-9 home-top-cour-desc">
                                <a href="{% url 'courseDetail' carrer.pk carrer.title|slugify %}">
                                    <h3>{{ carrer.title }}</h3>
                                </a>
                                <h4>{{ carrer.category }}</h4>
                                <p>{{ carrer.description|slice:":70" }}</p> <span class="home-top-cour-rat">4.2</span>
                                <div class="hom-list-share">
                                    <ul>
                                        <li><a href="{% url 'courseDetail' carrer.pk carrer.title|slugify %}"><i class="fa fa-bar-chart" aria-hidden="true"></i>Saber mas..</a> </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                 {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}


    <!--SECTION START-->
    <section>
        <div class="full-bot-book">
            <div class="container">
                <div class="row">
                    <div class="bot-book">
                        <div class="col-md-2 bb-img">
                            <img src="{% static 'core/images/3.png' %}" alt="">
                        </div>
                        <div class="col-md-7 bb-text">
                            <h4>therefore always free from repetition</h4>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                        </div>
                        <div class="col-md-3 bb-link">
                            <a href="course-details.html">Book This Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SECTION END-->

